@media screen and(min-width: 480px)and(max-width:480px)and((max-width:767px) {
body {
  font-family: 'Raleway', sans-serif;
  background-color:orange
}
media screen and (min-width:768px) }    body  {
    background-color: yellowbrown;
  }

    padding:6px
    margin:20px
    background-color: orange
  width:30px
  height:30px
}
.author {
  color:maroon;
}
p.author {
  font-size: 15px;
}
