@media screen and(min-width: 480px)and(max-width:480px)and((max-width:767px) {
body {
  font-family: 'Raleway', sans-serif;
  background-color:orange
}
media screen and (min-width:768px) }    body  {
    background-color: yellowbrown;
  }
  h1 {
  color:red;
  font background:black
  font size:12
  font weight:8

  font align:center
  }

.author {
  color:maroon;
}
p.author {
  font-size: 15px;
}
